body {
  text-align: center;
  background-color: #531b69;
  font-family: 'Raleway', sans-serif;
}
header {
  color: #b3edf1;
  position: sticky;
}
#toDoList {
  width: 80%;
  margin-left: 10%;
  padding: 1% 10% 10% 10%;
  background-color: #e7d1f0;
}
table, th, td {
  border: 2px solid #296a6e;
  border-collapse: collapse;
}
table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
tr:nth-child(even){
  background-color: #b3edf1;
}
tr:nth-child(odd){
  background-color: #dfeff0;
}
th {
  background-color: white;
  font-size: x-large;
}

tr:hover {
  background-color:#00b1ba;
}
tr.complete {
  background-color:#00b1ba;
}


button {
  border-radius: 10px;
}
input {
  border-radius: 5px;

}